.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
}

.dataTables_wrapper .dataTables_filter label {
    display: flex;
    align-items: center;
    gap: 5px; /* Jarak antara label dan input */
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 5px; /* Jika diperlukan jarak tambahan */
}

.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
}

.dataTables_wrapper .dataTables_length {
    display: flex;
    align-items: center;
}

.dataTables_wrapper .dataTables_length label {
    display: inline-flex;
    align-items: center;
    margin-right: 5px; /* Jarak antara label dan combobox */
}

.dataTables_wrapper .dataTables_length select {
    margin-left: 5px; /* Jarak antara combobox dan "entries" */
}